html, body, main, div, figure, img, a{
	margin: 0;
	padding: 0;
}
body, main{
	height: 100vh;
}
body{}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}
	main .content{
		width: 100%;
		max-width: 900px;
	}
		main .content figure{
			text-align: center;
		}
			main .content figure img{
				width: 100%;
				max-width: 561px;
			}
		main .content figure:nth-child(1){}
			main .content figure:nth-child(1) img{
				max-width: 520px;
			}
		main .content figure:nth-child(2){}
			main .content figure:nth-child(2) img{
			    max-width: 348px;
			}
		main .content hr{
			margin: 28px 0 32px;
		}
	main .contact{
		display: flex;
		flex-wrap: wrap;
		margin: 32px 0 0;
		justify-content: center;
		width: 100%;
		max-width: 814px;
	}
		main .contact .whatsapp{
			width: 100%;
			max-width: 50%;
			text-align: center;
		}
			main .contact .whatsapp a{
				display: block;
			}
				main .contact .whatsapp a figure{}
					main .contact .whatsapp a figure img{
						width: 100%;
						max-width: 393px;
					}

@media(max-width: 600px){
	main .contact .whatsapp{
		max-width: 100%;
		margin: 0 0 20px;
	}
	main .content hr {
        margin: 8px 0 12px;
    }
    main .contact {
        margin: 15px 0 0;
    }
    main .contact .whatsapp {
        margin: 0 0 10px;
    }
}